<h2>Add a new post</h2>
<p>We will add a new post here</p>
<form action="/new" method="post">
  <div class="form-group">
    <label for="input_name">Enter name of post</label>
    <input type="text" name="post_name" class="form-control" id="input_name" placeholder="Type name post here...">
  </div>
  <div class="form-group">
    <label for="text_post">Password</label>
    <textarea name="post_text" class="form-control" id="text_post" placeholder="Type post text here..."></textarea>
  </div>
  <button type="submit" class="btn btn-success">Send post!</button>
</form>