<h2>Add a new post</h2>

<form action="/new_post" method="post">
  <div class="form-group">
    <input type="text" name="post_name" class="form-control" id="input_name" placeholder="Type name post here...">
  </div>
  <div class="form-group">
    <input type="text" name="name_author" class="form-control" id="input_name" placeholder="Type your nick here...">
  </div>
  <div class="form-group">
    <textarea name="post_text" class="form-control" id="text_post" placeholder="Type post text here..."></textarea>
  </div>
  <button type="submit" class="btn btn-success">Send post!</button>
</form>